@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
