@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-screen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
